html, body {
    background-color: #023059;
    text-align: center;
    color: #A7F5FF;
    margin: 5px;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-size: 20px;
}

.container {
    background-color: #0388A6;
    border-radius: 25px;
    box-shadow: #035AA6 4px 4px;
    color: #A7F5FF;
    font-size: 24px;
    margin: 0px auto;
}

button {
    color: #A7F5FF;
    background-color: #F205CB;
    box-shadow: #035AA6 4px 4px;
    margin: 10px;
}
